body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
}

/*INDICE---------------------------------------------------------------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(14, 14, 14);
  border-bottom: 1px white solid;
  padding: 3px 50px;
  font-size: 18px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 30px;
  background-color: rgb(14, 14, 14);
  font-weight: bolder;
  font-size: 17px;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1px;
  transition: all 0.3s ease;
}

a:hover {
  color: rgb(236, 80, 2);
  transform: scale(1.2);
}

ul li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.menu > li:hover .dropdown {
}

li a {
  color: black;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  color: white;
  left: 0;
  background: rgb(14, 14, 14);
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  font-weight: lighter;
}

ul li ul li {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #1b4563;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

ul li ul li a {
  transition: all 0.3s ease;
}

.logo {
  display: block;
  width: 80px;
  height: 80px;
  aspect-ratio: 16/9;
  object-fit: contain;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.01);
  filter: brightness(2);
}
.ImagenesR {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 30px;
}

/*PRIMER SECTION---------------------------------------------------------------------------------------------------*/
.boton {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 30px 60px;
  text-decoration: none;
  font-weight: bolder;
  align-self: start;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

.boton:hover {
  background-color: rgb(236, 80, 2);
  color: black;
  transform: scale(1.0);
}

.hero {
  text-align: left;
  padding: 100px;
  padding-top: 80px;
}
.hero img {
  width: 100%;
}
.hero-text {
  font-size: 70px;
  font-weight: bold;
}

.Main1 {
  display: flex;
}

.ImagenMain {
  width: 1100px;
  height: 700px;
  border-right: 1px white solid;
  border-left: 0cap;
  border-bottom: 1px white solid;
  width: 100%;
}

.TRAILER {
  font-size: 40px;
}

.BotonesH {
  display: flex;
  flex-direction: column;
  margin-bottom: 130px;
  gap: 3px;
}

/*SEGUNDO SECTION---------------------------------------------------------------------------------------------------*/
.mainFotos {
  display: flex;
  gap: 65px;
  justify-content: center;
}

.mainFotos img {
  width: 300px;
}

.Plata {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
}
.Plata img {
  width: 20px;
}

.Sboton {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 20px;
}

.SbotonS {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Sboton {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Sboton:hover {
  background-color: rgb(236, 80, 2);
  color: black;
}

.Smain h1 {
  text-align: center;
  font-size: 50px;
}

.Cartas {
  border-radius: 3px;
}

.Cartas {
  transition: transform 0.3s ease;
}

.Cartas:hover {
  transform: scale(1.05);
}

/*Footer*/

footer {
  position: relative;
  text-align: center;
  background-image: url(/Main-Pagina/imagenes/fondo.jpg);
  background-size: contain;
  background-position: center;
  border-top: 0.5px solid white;
  z-index: 0;
  background-size: cover;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.Foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 200px 20px;
  z-index: 1;
  position: relative;
}

.RedesSociales {
  display: flex;
  justify-content: end;
  padding-top: 60px;
  gap: 25px;
}

.RedesSociales img {
  width: 55px;
  transition: transform 0.3s ease;
}

.RedesSociales img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.logo2 {
  width: 100px;
}
.buttonF {
  background-color: transparent;
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonF:hover {
  background-color: rgb(69, 69, 69);
}

.PS {
  display: flex;
  width: 780px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  color: black;
  text-align: left;
  width: 300px;
}
.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
.Derechos {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 15px;
}
input {
  margin-bottom: 10px;
  padding: 8px;
}
button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.Contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  font-size: 15px;
  gap: 15px;
}

.Contactanos a {
  background-color: transparent;
  border: 1px white solid;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: white;
  max-width: fit-content;
  margin: auto;
}

/*Juegos Pagina*/
.CatJuegos {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
}

.CatJuegos img {
  width: 350px;
  border-radius: 1%;
  transition: transform 0.3s ease;
}

.CatJuegos img:hover {
  transition-duration: 0.3s;
  transform: scale(1.05);
}

.HeaderS {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  background-color: black;
}

.HeaderS img {
  max-width: fit-content;
  height: 540px;
  border: 0.5px solid white;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 10px;
  padding: 8px;
}
button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-content h2 {
  color: black;
}
/*FORMULARIO*/
.container {
  width: 30%;
  margin: 50px auto;
  background-color: rgb(14, 14, 14);
  padding: 20px;
  border-radius: 8px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.enviar-boton {
  font-weight: bolder;
}

h2 {
  text-align: center;
  color: white;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: white;
  font-weight: bolder;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: rgb(236, 80, 2);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(139, 46, 0);
}

.message {
  color: green;
  font-size: 16px;
  text-align: center;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/*ABOUT US*/
.section-about {
  display: flex;
  justify-content: left;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding-bottom: 50px;
}

.section-about img {
  width: 800px;
  height: 700px;
}

.explicacion-empresa {
  line-height: 1.4;
}

.section-about-text {
  padding: 10px 50px;
  width: 100%;
  padding-bottom: 0px;
}

.section-about-text h1 {
  font-size: 50px;
  font-weight: bolder;
  border-bottom: white solid 1px;
  width: 50%;
}

.section-about-text p {
  line-height: 1.8;
  font-size: large;
}

.section-ceos {
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 0px;
  background-color: rgb(14, 14, 14);
  padding-top: 20px;
  border-top: 1px solid white;
}

.apartado-didac {
  display: flex;
  gap: 50px;
  font-size: large;
  padding-right: 70px;
  padding-top: 45px;
}

.texto-didac h1 {
  font-size: 40px;
  font-weight: bolder;
  border-bottom: white solid 1px;
  direction: rtl;
  width: 35%;
  justify-self: end;
}

.texto-didac p {
  line-height: 1.4;
  direction: rtl;
  width: 60%;
  justify-self: end;
  line-height: 35px;
}

.imagen-didac img {
  border-radius: 1%;
  width: 400px;
  justify-content: right;
}

.apartado-victor {
  display: flex;
  gap: 50px;
  padding-top: 80px;
  padding-left: 70px;
  padding-bottom: 30px;
  font-size: large;
}

.texto-victor h1 {
  font-size: 40px;
  font-weight: bolder;
  border-bottom: white solid 1px;
  width: 35%;
}

.texto-victor p {
  line-height: 1.4;
  display: block;
  width: 60%;
  line-height: 35px;
}

.imagen-victor img {
  border-radius: 1%;
  width: 400px;
  justify-content: left;
}

.categ {
  display: flex;
  justify-content: center;
  font-size: 80px;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}

/*Nuestros Juegos Pagina*/

.CatJuegos2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: black;
}

.CatJuegos2 div {
  border: 1px solid white;
  border-bottom-width: 100px;
  border-bottom-color: black;
}

.CatJuegos2 img {
  width: 350px;
  border-radius: 1%;
  transition: transform 0.3s ease;
}

.CatJuegos2 img:hover {
  transition-duration: 0.3s;
  transform: scale(1.05);
}

.CatJuegos2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-ourgames {
  margin-top: 30px; 
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

/*Ver mas Pagina*/

.section-general-juego {
  display: flex;
}

.imagen-juego {
  padding-top: 50px;
  padding-left: 150px;
  padding-bottom: 50px;
}

.img-juego {
  border: 1px white solid;
  border-style: solid;
  width: 400px;
}

.descripcion-juego {
  padding: 50px 50px;
  width: 100%;
  justify-content: center;
  padding-right: 150px;
}

.descripcion-juego h1 {
  font-size: 50px;
  font-weight: bolder;
  border-bottom: white solid 1px;
  width: 50%;
}

.descripcion-juego p {
  line-height: 1.8;
  font-size: large;
  font-weight: bolder;
  padding-bottom: 35px;
}

.descripcion-juego button {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 25px 55px;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.descripcion-juego button:hover {
  background-color: rgb(236, 80, 2);
  color: black;
  transform: scale(1.0);
}
